<h1>Stupid Coaching</h1>
<p>The answer to your question is:</p>
<p><%= @question %></p>
<p><%= @answer %></p>
<%# <a href="/ask">Ask another question</a> %>
<%= link_to "Ask another question", ask_path %>
