/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .ask {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 }

 .ask_heading {
  font-size: 32px;
  margin-bottom: 15px;
  color: #000000;
  text-align: start;
 }

 .answer_heading {
  font-size: 32px;
  margin-bottom: 15px;
  color: #000000;
  text-align: start;
 }

 .question_answer {
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333333;
  text-align: start;
 }

 .answer {
  font-size: 20px;
  margin-top: 10px;
  color: #555555;
  text-align: start;
 }
